# Python byte code
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Django stuff
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# Virtualenv
venv/
env/
ENV/
.venv/

# IDEs and editors
.vscode/
.idea/

# Pytest
.pytest_cache/

# Coverage reports
htmlcov/
.coverage

# Celery
celerybeat-schedule

# Environment variables
.env
.env.*

# Docker Compose overrides
docker-compose.override.yml

# macOS
.DS_Store
